#{extends 'main.html' /} #{set title:'Administrator | Log in' /}
<!-- LOG IN PAGE -->
<!-- Menu -->
<section class="ui two item menu">
	<a class="item" href="/"><h3>Home</h3></a>
	<a class="active item" href="/llogin"><h3>Log in</h3></a>
</section>

<!-- login form -->
<section class="ui segment">
<form action="/authenticate" method="POST">
    <div class="ui fluid form segment">
      <h3 class="ui header">Administrator log in</h3>
      <div class="field">
        <input placeholder="Email" name="email" type="text" required>
      </div>
      <div class="field">
        <input placeholder="Password" type="password" name="password" required>
      </div>
      <button type="submit" class="ui blue submit button">Login</button>
    </div>
</form>
</section>