#{extends 'main.html' /} #{set title:'Register Tenant' /}
<!-- ADMIN REGISTER TENANT PAGE -->
<!-- Menu -->
<section class="ui two item menu">
	<a class="item" href="/admin"><h3>Administrator Home</h3></a>
	<a class="item" href="/logout"><h3>Logout</h3></a>
</section>

<!-- signup form -->
<section class="ui segment">
	<div class="ui grid">
		<div class="eight wide column">
			<form action="/tregister" method="POST">
				<div class="ui fluid form segment">
					<h3 class="ui header">Create a MyRent Tenant account</h3>
					<h5>Register using a valid email address</h5>
					<div class="two fields">
						<div class="field">
							<input placeholder="First Name" name="user.firstName" type="text"
								required>
						</div>
						<div class="field">
							<input placeholder="Last Name" name="user.lastName" type="text"
								required>
						</div>
					</div>
					<div class="ui fluid left icon input field">
						<input placeholder="Email" name="user.email" type="text" required>
						<i class="user icon"></i>
					</div>
					<div class="ui fluid left icon input field">
						<input type="password" id="password" name="user.password"
							placeholder="Password" required> <i class="lock icon"></i>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input id="conditions" type="checkbox" name="user.conditions"
								required> <label for="conditions">I agree to the
								terms and conditions</label>
						</div>
					</div>
					<button type="submit" class="ui blue submit button">Register</button>
				</div>
			</form>
		</div>
	</div>
</section>